{% extends 'base.html' %}

{% block content %}
<div id="section1"></div>
<div class="songs-container">
    <div class="page-introduction">
        <h1>Featured Songs</h1>
    </div>
    {% for song in songs[5:8] %}
    <div class="song-card">
        <div class="song-media">
            <img src="{{ url_for('static', filename='Images/Song-Covers/' ~ song.thumbnail) }}" alt="Song Thumbnail">
            <audio controls>
                <source src="{{ url_for('static', filename='Songs/' ~ song.audio) }}" type="audio/mpeg">
                Your browser does not support the audio element.
            </audio>
        </div>
        <div class="song-details"> 
            <p>Title: {{ song.song_title }}</p>
            <p>Artist: {{ song.artist_name }}</p>
            <p>Release Year: {{ song.release_year }}</p>
            <p>Album: {{ song.album }}</p>
            <p>Genre: {{ song.genre }}</p>
            <div class="rate-button-songs">
                <a href="{{ url_for('song_rating', id=song.id) }}">Rate it</a>
            </div>
        </div>
    </div>

    {% endfor %}
    <div class="page-introduction">
        <h1>All Songs</h1>
    </div>
    {% for song in songs %}
    <div class="song-card">
        <div class="song-media">
            <img src="{{ url_for('static', filename='Images/Song-Covers/' ~ song.thumbnail) }}" alt="Song Thumbnail">
            <audio controls>
                <source src="{{ url_for('static', filename='Songs/' ~ song.audio) }}" type="audio/mpeg">
                Your browser does not support the audio element.
            </audio>
        </div>
        <div class="song-details">
            <p>Title: {{ song.song_title }}</p>
            <p>Artist: {{ song.artist_name }}</p>
            <p>Release Year: {{ song.release_year }}</p>
            <p>Album: {{ song.album }}</p>
            <p>Genre: {{ song.genre }}</p>
            <div class="rate-button-songs">
                <a href="{{ url_for('song_rating', id=song.id) }}">Rate it</a>
            </div>
        </div>
    </div>

    {% endfor %}
    <div id="back-to-top">
        <a href="#section1">Back to Top</a>
    </div>


</div>

{% endblock %}